body{
  background:#020617;
  font-family:Arial;
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  color:white;
}

#app, #error{
  background:#0f172a;
  padding:30px;
  border-radius:12px;
  width:300px;
  text-align:center;
}

#error{
  display:none;
}
